---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

.h200 { height: 200px;}
.h400 { height: 400px;}

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials